<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Evento</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <ion-grid>
    <ion-row>
      <ion-card text-center>
        <ion-card-content>
          <ion-card-title>
            {{item?.nome}}
          </ion-card-title>
          <p>
            {{item?.nome}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="adicionarVideo()">Novo Vídeo</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="adicionarFoto()">Nova Foto</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="adicionarComentario()">Novo Comentário</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button block (click)="inserirEtapa(item, id)">Criar nova etapa</button>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarEvento(item, id)">Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirEvento()" color="danger">Excluir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button value="mostrarVideos">
          Vídeos
        </ion-segment-button>
        <ion-segment-button value="mostrarFotos">
          Fotos
        </ion-segment-button>
        <ion-segment-button value="mostrarComentarios">
          Comentários
        </ion-segment-button>
        <ion-segment-button value="mostrarEtapas">
          Etapas
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="selectedSegment">
        <ion-list *ngSwitchCase="'mostrarVideos'">
          <ion-item  text-center class="item row" *ngFor="let video of videos">
            <ion-thumbnail item-start>
              <iframe  width="auto" height="340" [src]="urlSafe(video.urlYoutube)"></iframe>
            </ion-thumbnail>
            <h2>Descrição </h2>
            <p>{{video.descricao}}</p>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'mostrarFotos'">
          <ion-item  text-center class="item row" *ngFor="let foto of fotos" >
            <ion-thumbnail *ngIf="foto.path != ''" item-start>
              <img width="100%" height="50%" [src]="foto.path" #myImage (click)="popImage(myImage)">
            </ion-thumbnail>
            <p>Descrição : {{foto.descricao}}</p>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'mostrarComentarios'">
          <ion-grid  text-center class="item row" *ngFor="let comentario of comentarios">
            <ion-row>
              <ion-card>
                <ion-card-title text-center>
                  <p> Data : {{comentario.data | date:'dd/MM/yyyy'}} Hora : {{comentario.data | date:'H:mm'}}</p>
                  Usuário : {{comentario.usuario.nome}}
                </ion-card-title>
                <ion-card-content>
                  Comentário : {{comentario.texto}}
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'mostrarEtapas'">
          <ion-grid  text-center class="item row" *ngFor="let etapa of etapas">
            <ion-row>
              <ion-card (tap)="detalhesEtapa(etapa.id, item)">
                <ion-card-title text-center>
                 <p>{{etapa.nome}}</p>
                </ion-card-title>
                <ion-card-content>
                  <p> Data : {{etapa.data | date:'dd/MM/yyyy'}} Hora : {{etapa.data | date:'H:mm'}}</p>
                  <p>Local : {{etapa.pico.nome}}</p>
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
