<!--
  Generated template for the ListarSessaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center uppercase>Sessões</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--<ion-searchbar [(ngModel)]="terms"></ion-searchbar>-->
  <!--<button ion-button type="button" (click)="sort()">Filtrar</button>-->
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button text-center ion-button (click)="cadastrarSessao()">
          Criar Sessão
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item text-center (click)="detalheSessao(item.id)"
            *ngFor="let item of items">
            <!--| search : terms | sort: {property: column, order: order}-->
            <h2>Sessão : {{item.nome}}</h2>
            <h2>Data : {{item.dataSessao | date:'dd/MM/yyyy'}}</h2>
            <h2>Hora : {{item.dataSessao | date:'H:mm'}}</h2>
            <h2>Local : {{item.pico.nome}}</h2>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
