page-listar-sessao {
  body {
    cursor: url('https://ionicframework.com/img/finger.png'), auto;
  }

  .video-container {
    position: fixed;
    padding-bottom: 90%;
    padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  ion-tabs {
    margin-bottom: 20px;
  }
  ion-tabs,
  ion-tabs .tabbar {
    position: relative;
    top: auto;
    height: auto;
    visibility: visible;
    opacity: 1;
  }
}
