<ion-content>
  <ion-list></ion-list>
  <ion-list>
    <button ion-item (click)="onLoad('ListarPicosPage')">
      <ion-icon name="home" item-left>
      </ion-icon>
      Home
    </button>
    <button ion-item (click)="onLoad('ProfilePage')">
      <ion-icon name="contact" item-left>
      </ion-icon>
      Perfil
    </button>
    <button ion-item (click)="onLoad('FavoritosPage')">
      <ion-icon name="star" item-left>
      </ion-icon>
      Favoritos
    </button>
    <button ion-item (click)="onLoad('ListarEventosPage')">
      <ion-icon name="trophy" item-left>
      </ion-icon>
      Eventos
    </button>
    <button ion-item (click)="onLoad('ListarMutiraoPage')">
      <ion-icon name="construct" item-left>
      </ion-icon>
      Mutirões
    </button>
    <button ion-item (click)="onLoad('ListarSessaoPage')">
      <ion-icon name="calendar" item-left>
      </ion-icon>
      Sessões
    </button>
    <button ion-item (click)="onLoad('ListarAnunciosPage')">
      <ion-icon name="basket" item-left>
      </ion-icon>
      Anúncios
    </button>
    <button ion-item (click)="onLoad('ListarContatosPage')">
      <ion-icon name="contacts" item-left>
      </ion-icon>
      Contatos
    </button>
    <button ion-item (click)="logout()">
      <ion-icon name="md-log-out" item-left>
      </ion-icon>
      Sair
    </button>
  </ion-list>
</ion-content>
