<!--
  Generated template for the AdicionarContatoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Adicionar Contato</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formContato" (ngSubmit)="adicionarContato()">
    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" formControlName="email" ngModel required></ion-input>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formContato.valid" >Adicionar</button>
  </form>
</ion-content>
