<!--
  Generated template for the EditarEventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Editar Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formEvento" (ngSubmit)="salvarEvento()">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="nome" [placeholder]="item2.nome" [value]="item2.nome" ngModel required></ion-input>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formEvento.valid" >Salvar</button>
  </form>
</ion-content>
