<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  padding>
  <ion-avatar>
    <img align-items-center src="../../../../assets/imgs/avatar.png" class="circle"/>
  </ion-avatar>
  <h2 text-center>{{usuario?.nome}}</h2>
  <p text-center>{{usuario?.email}}</p>
</ion-content>
