<!--
  Generated template for the ListarContatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Contatos</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button text-center ion-button (click)="cadastrarContato()">
          Adicionar Contato
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list text-center *ngFor="let item of items">
          <ion-card (tap)="detalhesContato(item.id)">
            <ion-card-content>
              <h2>{{ item.nome }}</h2>
              <p>{{ item.email }}</p>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
