<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes da Sessão</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card text-center>
        <ion-card-content>
          <ion-card-title>
            Sessão : {{item?.nome}}
          </ion-card-title>
          <p>
            Data : {{item?.dataSessao | date:'dd/MM/yyyy'}}
          </p>
          <p>
            Hora : {{item?.dataSessao | date:'H:mm'}}
          </p>
          <p>
            Local : {{item?.pico.nome}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="adicionarVideo()">Novo Vídeo</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="adicionarFoto()">Nova Foto</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="adicionarComentario()">Novo Comentário</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarSessao(item, id)">Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirSessao()" color="danger">Excluir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button value="mostrarVideos">
          Vídeos
        </ion-segment-button>
        <ion-segment-button value="mostrarFotos">
          Fotos
        </ion-segment-button>
        <ion-segment-button value="mostrarComentarios">
          Comentários
        </ion-segment-button>
        <ion-segment-button value="mostrarParticipantes">
          Participantes
        </ion-segment-button>
      </ion-segment>
      <div [ngSwitch]="selectedSegment">
        <ion-list *ngSwitchCase="'mostrarVideos'">
          <ion-item text-center class="item row" *ngFor="let video of videos">
            <ion-thumbnail item-start>
              <iframe width="auto" height="340" [src]="urlSafe(video.urlYoutube)"></iframe>
            </ion-thumbnail>
            <h2>Descrição </h2>
            <p>{{video.descricao}}</p>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'mostrarFotos'">
          <ion-item text-center class="item row" *ngFor="let foto of fotos">
            <ion-thumbnail *ngIf="foto.path != ''" item-start>
              <img width="100%" height="50%" [src]="foto.path" #myImage (click)="popImage(myImage)"/>
            </ion-thumbnail>
            <p>Descrição : {{foto.descricao}}</p>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'mostrarComentarios'">
          <ion-grid text-center class="item row" *ngFor="let comentario of comentarios">
            <ion-row>
              <ion-card>
                <ion-card-title text-center>
                  <p> Data : {{comentario.data | date:'dd/MM/yyyy'}} Hora : {{comentario.data | date:'H:mm'}}</p>
                  Usuário : {{comentario.usuario.nome}}
                </ion-card-title>
                <ion-card-content>
                 <h2>Comentário : {{comentario.texto}}</h2>
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-list *ngSwitchCase="'mostrarParticipantes'">
          <ion-grid text-center class="item row" *ngFor="let participante of participantes">
            <ion-row>
              <ion-card>
                <ion-card-title text-center>
                  {{participante.nome}}
                </ion-card-title>
              </ion-card>
            </ion-row>
          </ion-grid>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
