<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Picos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-item>
        <ion-label floating text-center>Pico</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <button ion-button block (click)="goToAdicionarPico()">Adicionar
        </button
        >
      </ion-col>
      <ion-col>
        <button block ion-button>Buscar</button>
      </ion-col>
    </ion-row>
    <div text-center *ngFor="let pico of picos">
      <ion-card (tap)="goToDetalhe(pico.id)">
        <ion-card-content> {{ pico.nome }}</ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
