<!--
  Generated template for the ListarMutiraoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title text-center>Mutirões</ion-title>
  </ion-navbar>



</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button text-center ion-button (click)="adicionarMutirao()">
          Adicionar Mutirão
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <button
            ion-item text-center *ngFor="let item of items" (click)="detalheMutirao(item.id)">
            <h2>Data : {{item.dataMutirao | date:'dd/MM/yyyy'}}</h2>
            <h2>Hora : {{item.dataMutirao | date:'H:mm'}}</h2>
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
