<!--
  Generated template for the CadastraAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Editar Mutirão</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <form [formGroup]="formMutirao" (ngSubmit)="salvarMutirao()">
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"
                    [min]="dataCriacao"
                    max="2025"
                    ngModel
                    pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                    formControlName="dataMutirao">
      </ion-datetime>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formMutirao.valid" >Salvar</button>
  </form>
</ion-content>
