
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Nova Etapa</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formEtapa" (ngSubmit)="salvarEtapa()">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="nome"  ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"
                    [min]="dataCriacao"
                    max="2025"
                    ngModel
                    pickerFormat="YYYY-MM-DDTHH:mm:ssTZD"
                    formControlName="data">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Pico</ion-label>
      <ion-select formControlName="pico">
        <ion-option *ngFor="let pico of picos; first as f" [value]="pico" [selected]="f">{{pico.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Convidados</ion-label>
      <ion-select formControlName="participantes" [multiple]="true">
        <ion-option *ngFor="let contato of contatos; first as f" [value]="contato" [selected]="f">{{contato.nome}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button ion-button type="submit"  block [disabled]="!formEtapa.valid" >Salvar</button>
  </form>
</ion-content>
