<!--
  Generated template for the DetalhesAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Anúncio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card >
        <ion-card-content>
          <ion-card-header text-center><h2>Vendedor : {{item?.anunciante.nome}}</h2></ion-card-header>
          <ion-card-title text-center>
           Produto : {{item?.titulo}}
          </ion-card-title>
          <h1>
          Descrição : {{item?.descricao}}
          </h1>
          <h1>
            Valor : {{item?.preco | currency:'BRL'}}
          </h1>
          <h2>
           Contato : {{item?.anunciante.email}}
          </h2>
          <ion-item text-center class="item row" *ngFor="let foto of item?.fotos">
            <img  *ngIf="foto.path != ''" width="100%" height="50%" [src]="foto.path">
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarAnuncio(item, id)">Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirAnuncio()" color="danger">Excluir</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="adicionarComentario()">Novo Comentário</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid  text-center class="item row" *ngFor="let comentario of comentarios">
    <ion-row>
      <ion-card>
        <ion-card-title text-center>
          <p> Data : {{comentario.data | date:'dd/MM/yyyy'}} Hora : {{comentario.data | date:'H:mm'}}</p>
          {{comentario.usuario.nome}}
        </ion-card-title>
        <ion-card-content>
          {{comentario.texto}}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
