<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <h3>Busca Pico</h3>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <img src="assets/imgs/logo.png" alt="logo">
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col>
        <form class="form-login" (ngSubmit)="doLogin()" [formGroup]="formLogin">
          <ion-row>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input required [(ngModel)]="creds.email" type="email" formControlName="email" name="email">
              </ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Senha</ion-label>
                <ion-input required [(ngModel)]="creds.senha" type="password" formControlName="senha" minlength="6"
                           name="senha"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button text-center block [disabled]="!formLogin.valid" type="submit" ion-button>Logar</button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button text-center ion-button block outline (click)="cadastrarUsuario()">Cadastrar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
