<!--
  Generated template for the PicoFavoritosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Favoritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <button
            ion-item *ngFor="let item of items">
            <h2>{{item.nome}}</h2>
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
