<!--
  Generated template for the CadastraAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Novo Anúncio</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <form text-center [formGroup]="formAnuncio" (ngSubmit)="adicionarAnuncio()">
    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" formControlName="titulo" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Preço</ion-label>
      <ion-textarea formControlName="preco" ngModel required></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea formControlName="descricao" ngModel required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Link da Foto</ion-label>
      <ion-textarea formControlName="fotos" ngModel required></ion-textarea>
    </ion-item>
    <!--<ion-item>-->
      <!--<button ion-button type="button" (click)="addFoto()">Inserir Foto</button>-->
    <!--</ion-item>-->
    <!--<ion-grid text-center class="item row" *ngFor="let foto of fotos">-->
      <!--<ion-row>-->
        <!--<ion-col text-center>-->
          <!--<p>Descrição : {{foto.descricao}}</p>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row *ngIf="foto.path != ''">-->
        <!--<img [src]="foto.path">-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
    <button text-center ion-button type="submit" block [disabled]="!formAnuncio.valid">
      Salvar
    </button>
  </form>
</ion-content>
