<!--
  Generated template for the DetalhesEtapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Evento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card >
        <ion-card-content text-center>
          <ion-card-header text-center><b><h1>Evento : {{evento?.nome}}</h1></b></ion-card-header>
          <ion-card-title text-center>
            <h1>Etapa : {{item?.nome}}</h1>
          </ion-card-title>
          <h1>
            Local : {{item?.pico.nome}}
          </h1>
          <h2>
            Data : {{item?.data | date:'dd/MM/yyyy'}}
          </h2>
          <h2>
            Hora : {{item?.data | date:'H:mm'}}
          </h2>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-list>
      <ion-card>
        <ion-card-title text-center>
         PARTICIPANTES
        </ion-card-title>
        <ion-card-content text-center class="item row" *ngFor="let participante of participantes">
          <ion-card>
            <ion-card-title>
              {{participante.nome}}
            </ion-card-title>
          </ion-card>

        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarEtapa(item, id)">Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirEtapa()" color="danger">Excluir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
