<!--
  Generated template for the DetalhesAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Detalhes do Mutirão</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card text-center>
        <ion-card-content>
          <ion-card-title>
            Data : {{item?.dataMutirao | date:'dd/MM/yyyy'}}
          </ion-card-title>
          <p>
            Hora : {{item?.dataMutirao | date:'H:mm'}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="editarMutirao(item, id)" >Editar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="excluirMutirao()" color="danger" >Excluir</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
